* {
    background-color: #000000;
}

.button-black {
    background-color: #333333;
    border-color: black;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
    width: 100%;
}

.row .button-black {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-bar ul li, img, a {
    background-color: #1f002c;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin: 1px;
    text-align: center;
}

.nav-bar ul li {
    border-style: inset;
    border-color: #666666
}

.nav-bar a:focus {
    color: #ffffff
}

.card{
    background-color: #000000;
    border-color: #666666;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding: 3rem;
    margin: 1rem;
}

.card-small{
    background-color: #000000;
    border-color: #666666;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    position: relative;

}

.card-small div {
    padding: 1rem;
}

code {
    color: #1f002c;
    background-color: #999999;
}
.card-small code.short-code {
    max-width: 15%;
}

.card input {
    background-color: #000000;
    color: #999999;
}

.card code {
    color: #1f002c;
    background-color: #999999;
}

.fieldsetContainer {
    height: 0;
    overflow: hidden;
    transition: height 333ms linear;
}

#toggle {
    display: none;
}

#toggle:checked ~ .fieldsetContainer {
    height: 50px;
}

label .arrow-rt { display: inline-block; }
label .arrow-dn { display: none; }

#toggle:checked ~ label .arrow-rt { display: none; }
#toggle:checked ~ label .arrow-dn { display: inline-block; }